<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="tcm.early.vulnerability.detector.TCM_ESVD_VIEW_CATEGORY"
            name="%view.category.name">
      </category>
      <view
            allowMultiple="false"
            category="tcm.early.vulnerability.detector.TCM_ESVD_VIEW_CATEGORY"
            class="net.thecodemaster.esvd.ui.view.ViewSecurityVulnerabilities"
            icon="icon/View.png"
            id="tcm.early.vulnerability.detector.TCM_ESVD_VIEW"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="tcm.early.vulnerability.detector.TCM_ESVD_VIEW"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="NET.THECODEMASTER.ESVD.UI.PREFERENCES"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.thecodemaster.esvd.ui.preference.page.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.thecodemaster.esvd.ui.preference.page.Acknowledgements"
            id="NET.THECODEMASTER.ESVD.UI.PREFERENCE.PAGE.ACKNOWLEDGEMENTS"
            name="%preference.page.acknowledgements">
         <keywordReference
               id="NET.THECODEMASTER.ESVD.UI.KEYWORDS">
         </keywordReference>
      </page>
      <page
            category="NET.THECODEMASTER.ESVD.UI.PREFERENCE.PAGE.ACKNOWLEDGEMENTS"
            class="net.thecodemaster.esvd.ui.preference.page.Settings"
            id="net.thecodemaster.esvd.ui.PREFERENCE.PAGE.SETTINGS"
            name="%preference.page.settings">
      </page>
      <page
            category="NET.THECODEMASTER.ESVD.UI.PREFERENCE.PAGE.ACKNOWLEDGEMENTS"
            class="net.thecodemaster.esvd.ui.preference.page.SecurityVulnerability"
            id="NET.THECODEMASTER.ESVD.UI.PREFERENCE.PAGE.SECURITY_VULNERABILITIES"
            name="%preference.page.security_vulnerabilities">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="NET.THECODEMASTER.ESVD.UI.KEYWORDS"
            label="%preference.page.tcm_esvd.keyword">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icon/Menu.png"
               id="NET.THECODEMASTER.ESVD.UI.MENU.ROOT"
               label="%menu.tcm_esvd">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IResource">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.jdt.core.IJavaElement">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="net.thecodemaster.esvd.ui.command.enable_plugin"
                  label="%menu.enable_plugin.label"
                  style="push"
                  tooltip="%menu.enable_plugin.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="net.thecodemaster.esvd.ui.propertytester.isEnabled">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.thecodemaster.esvd.ui.command.disable_plugin"
                  label="%menu.disable_plugin.label"
                  style="push"
                  tooltip="%menu.disable_plugin.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="net.thecodemaster.esvd.ui.propertytester.isDisabled">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.thecodemaster.esvd.ui.command.open_settings"
                  label="%menu.open_settings.label"
                  style="push"
                  tooltip="%menu.open_settings.tooltip">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.thecodemaster.esvd.ui.command.EnableScanOnProject"
            id="net.thecodemaster.esvd.ui.command.enable_plugin"
            name="%menu.enable_plugin.label">
      </command>
      <command
            defaultHandler="net.thecodemaster.esvd.ui.command.DisableScanOnProject"
            id="net.thecodemaster.esvd.ui.command.disable_plugin"
            name="%menu.disable_plugin.label">
      </command>
      <command
            defaultHandler="net.thecodemaster.esvd.ui.command.OpenSettingsPreferencePage"
            id="net.thecodemaster.esvd.ui.command.open_settings"
            name="%menu.open_settings.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.thecodemaster.esvd.ui.propertytester.EnableDisableMenu"
            id="NET.THECODEMASTER.ESVD.UI.PROPERTYTESTER.ENABLEDISABLEMENU"
            namespace="net.thecodemaster.esvd.ui.propertytester"
            properties="isEnabled, isDisabled"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         id="TCM_ESVD_BUILDER"
         name="%tcm_esvd.builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.thecodemaster.esvd.builder.IncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="TCM_ESVD_NATURE"
         name="%tcm_esvd.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.thecodemaster.esvd.nature.Nature">
         </run>
      </runtime>
      <builder
            id="tcm.early.vulnerability.detector.TCM_ESVD_BUILDER">
      </builder>
   </extension>
   <extension
         id="TCM_ESVD_MARKER"
         name="%tcm_esvd.marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="TCM_ESVD_TYPE_SECURITY_VULNERABILITY">
      </attribute>
   </extension>
   <extension
         id="TCM_ESVD_MARKER_INVISIBLE"
         name="%tcm_esvd.marker.invisible"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="TCM_ESVD_MARKER_RESOLUTION"
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.thecodemaster.esvd.marker.resolution.SecurityVulnerabilityResolutionGenerator"
            markerType="tcm.early.vulnerability.detector.TCM_ESVD_MARKER">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="TCM_ESVD_MARKER_ANNOTATION"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="tcm.early.vulnerability.detector.TCM_ESVD_MARKER"
            name="TCM_ESVD_MARKER_ANNOTATION">
      </type>
   </extension>
   <extension
         id="TCM_ESVD_MARKER_ANNOTATION_SPECIFICATION"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="TCM_ESVD_MARKER_ANNOTATION"
            colorPreferenceKey="org.eclipse.viatra2.slice.color"
            colorPreferenceValue="243,199,64"
            contributesToHeader="false"
            highlightPreferenceKey="org.eclipse.viatra2.slice.highlight"
            highlightPreferenceValue="false"
            icon="icon/Warning.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="TCM_ESVD_IsGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="TCM_ESVD_IsGoToPreviousNavigationTarget"
            label="%tcm_esvd.marker.label"
            overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            quickFixIcon="icon/QuickFix.png"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="TCM_ESVD_ShowInNextPrevDropdownToolbarAction"
            symbolicIcon="warning"
            textPreferenceKey="org.eclipse.viatra2.slice.text"
            textPreferenceValue="true"
            textStylePreferenceKey="TCM_ESVD_TextStylePreference"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="org.eclipse.viatra2.slice.ruler"
            verticalRulerPreferenceValue="true">
		</specification>
   </extension>

</plugin>
